export(carli)
export(comparisons)
export(connect)
export(cpd)
export(dutot)
export(fisher)
export(geks)
export(geradi)
export(gk)
export(harmonic)
export(idb)
export(index.pairs)
export(is.connected)
export(jevons)
export(laspey)
export(neighbors)
export(nlcpd)
export(paasche)
export(rao)
export(ratios)
export(rdata)
export(rgaps)
export(rweights)
export(sparsity)
export(toernq)
export(walsh)
import(data.table)
S3method("print", "multeq")
