export(banerjee)
export(carli)
export(comparisons)
export(connect)
export(cpd)
export(cswd)
export(davies)
export(drobisch)
export(dutot)
export(fisher)
export(geks)
export(geolaspeyres)
export(geopaasche)
export(geowalsh)
export(gerardi)
export(gkhamis)
export(harmonic)
export(idb)
export(index.pairs)
export(is.connected)
export(jevons)
export(laspeyres)
export(lehr)
export(lowe)
export(list.indices)
export(medgeworth)
export(neighbors)
export(nlcpd)
export(paasche)
export(palgrave)
export(pricelevels)
export(rao)
export(ratios)
export(rdata)
export(rgaps)
export(rweights)
export(sparsity)
export(svartia)
export(theil)
export(toernqvist)
export(uvalue)
export(walsh)
export(young)
import(data.table)
S3method("print", "multeq")
